# Dependencies
node_modules/

# Build
dist/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment
.env
.env*.local

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Vite
.vite/
